force-app/main/default/flows/ESK_Post_Meeting_Wrap_Up.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Cleaned_up_meeting_notes_in_json_format</name>
        <label>Cleaned up meeting notes in json format</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Post_Meeting_Clean_Up_Prompt</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>Process_Meeting_JSON_Action_2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:Meeting_Notes</name>
            <value>
                <elementReference>meetingnoteinput</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Post_Meeting_Clean_Up_Prompt</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Process_Meeting_JSON_Action_2</name>
        <label>Process Meeting JSON Action 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>CRMIntegrationService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>actionResultssuccess</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>rawJson</name>
            <value>
                <elementReference>Cleaned_up_meeting_notes_in_json_format.promptResponse</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CRMIntegrationService</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>actionResultssuccess</name>
        <label>actionResultssuccess</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>actionResult</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>actionResults</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>outputscreenmeetingv3</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <description>A flow to capture post meeting notes and create events, tasks, and opportunities</description>
    <environments>Default</environments>
    <interviewLabel>ESK Post Meeting Wrap Up {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Post Meeting Wrap Up Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Input_your_post_meeting_notes</name>
        <label>Input your post meeting notes</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Cleaned_up_meeting_notes_in_json_format</targetReference>
        </connector>
        <fields>
            <name>meetingnoteinput</name>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>outputscreenmeetingv3</name>
        <label>outputscreenmeetingv3</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>outputmeetingscreenv2</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Event Name: {!Process_Meeting_JSON_Action_2.eventNames}&lt;/p&gt;&lt;p&gt;Oppties created: {!Process_Meeting_JSON_Action_2.oppNames}&lt;/p&gt;&lt;p&gt;Tasks generated: {!Process_Meeting_JSON_Action_2.taskNames}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Input_your_post_meeting_notes</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>actionResult</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>actionResults</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
