force-app/main/default/flows/ESK_Flow_for_Agent.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Cleaned_up_meeting_notes_in_json_format</name>
        <label>Cleaned up meeting notes in json format</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Post_Meeting_Clean_Up_Prompt</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>Output_from_the_prompt</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:Meeting_Notes</name>
            <value>
                <elementReference>meetingnotesinputsforagent</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Post_Meeting_Clean_Up_Prompt</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Output_from_the_prompt</name>
        <label>Output from the prompt</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>CRMIntegrationService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>suc</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>rawJson</name>
            <value>
                <elementReference>Cleaned_up_meeting_notes_in_json_format.promptResponse</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>jsonInputs</name>
            <value>
                <elementReference>Cleaned_up_meeting_notes_in_json_format.promptResponse</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CRMIntegrationService</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>suc</name>
        <label>Success</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>actionResults</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <description>Flow that creates events, tasks and opportunities based on meeting notes</description>
    <environments>Default</environments>
    <interviewLabel>ESK Flow for Agent {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ESK Post meeting summary Flow for Agent</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Cleaned_up_meeting_notes_in_json_format</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>actionResults</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>meetingnotesinputsforagent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
