force-app/main/default/flows/ESK_Flow_to_get_Contact_v2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Meeting_Prep_Prompt</name>
        <label>Meeting Prep Prompt</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Meeting_Prep</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>contact_summary</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:Contact</name>
            <value>
                <elementReference>get_contact_ID</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Meeting_Prep</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <description>ESK Flow to get Contact v2</description>
    <environments>Default</environments>
    <interviewLabel>ESK Flow to get Contact v2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Pre Meeting Contact Summary Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>get_contact_ID</name>
        <label>get contact ID</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Meeting_Prep_Prompt</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>{!recordId}</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>contact_summary</name>
        <label>contact summary</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>outputmeetingscreen</name>
            <fieldText>&lt;p&gt;{!notplainplainvariable}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_contact_ID</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>notplainplainvariable</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!Meeting_Prep_Prompt.promptResponse}</text>
    </textTemplates>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
